* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgba(224, 181, 253, 0.336);
}

.main-game {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    border: rgb(12, 12, 12) 30px solid;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.start-button {
    font-size: 30px;
    font-family: fantasy, monospace;
    color: rgb(61, 61, 61);
    padding: 80px 60px;
    border-radius: 100%;
    background-color: rgb(250, 235, 215);
    opacity: 0.8;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.start-button:hover {
    opacity: 1;
}

.genius {
    display: grid;
    grid-template-areas: 'verde vermelho' 'amarelo azul';
    grid-gap: 40px;
    border: 100px solid #000;
    background-color: #000;
    box-shadow: rgba(84, 84, 156, 0.25) 0px 50px 50px -20px inset, rgba(184, 184, 184, 0.3) 0px 10px 20px 20px, rgba(25, 90, 155, 0.35) 20px -2px 6px 0px inset;
    border-radius: 100%;
    width: 700px;
    height: 700px;
}

.blue {
    grid-area: azul;
    background-color: rgb(17, 17, 216);
    border-bottom-right-radius: 100%;
    opacity: 0.7;
    box-shadow: rgba(84, 84, 156, 0.25) 0px 50px 100px -20px, rgba(184, 184, 184, 0.3) 0px 30px 60px -30px, rgba(2, 12, 22, 0.753) 0px -2px 6px 0px inset;
}

.red {
    grid-area: vermelho;
    background-color: rgb(219, 0, 0);
    border-top-right-radius: 100%;
    opacity: 0.7;
    box-shadow: rgba(84, 84, 156, 0.25) 0px 50px 100px -20px, rgba(184, 184, 184, 0.3) 0px 30px 60px -30px, rgba(25, 90, 155, 0.35) 0px -2px 6px 0px inset;
}

.yellow {
    grid-area: amarelo;
    background-color: rgb(250, 250, 0);
    border-bottom-left-radius: 100%;
    opacity: 0.7;
    box-shadow: rgba(84, 84, 156, 0.25) 0px 50px 100px -20px, rgba(184, 184, 184, 0.3) 0px 30px 60px -30px, rgba(25, 90, 155, 0.35) 0px -2px 6px 0px inset;
}

.green {
    grid-area: verde;
    background-color: rgb(0, 150, 0);
    border-top-left-radius: 100%;
    opacity: 0.7;
    box-shadow: rgba(84, 84, 156, 0.25) 0px 50px 100px -20px, rgba(184, 184, 184, 0.3) 0px 30px 60px -30px, rgba(25, 90, 155, 0.35) 0px -2px 6px 0px inset;
}

.selected {
    opacity: 1;
}

@media screen and (max-width:700px) {
    .genius {
        width: 95vw;
        height: 95vw;
        grid-gap: 25px;
        border: 12vw solid #000;
    }

    .menu {
        width: 30vw;
        height: 30vw;
        border: rgb(15, 15, 15) 20px solid;
    }

    .start-button {
        font-size: 18px;
        padding: 8vw 6vw;
    }
}
